{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}<a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
    {% else %}<a class="btn btn-outline-secondary" href="{% url 'login' %}">Login</a><a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
    {% endif %}

    <div class="container">
        <div id="header">TODO List</div>
        <div id="task-list">
            <ul id="list">
            </ul>

        </div>
        <div id="task-nav">
            <button id="prev-day" class="btn btn-light">Yesterday's tasks</button>
            <span id="day-selected">Today</span>
            <button id="next-day" class="btn btn-light">Tommorow's tasks</button>
            <br>
            <button id="new-task" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                Create a new task
            </button>
        </div>
        <hr>    
        
    </div>

    <script>
        date = null

        $(document).ready(function() {
            date = new Date()
            date.setHours(12, 0, 0, 0)

            $("#prev-day").click(function() {
                date.setDate(date.getDate() - 1)
                setDaySelected()
                loadTasks()
            })

            $("#next-day").click(function() {
                date.setDate(date.getDate() + 1)
                setDaySelected()
                loadTasks()
            })

            loadTasks()
        })

        function loadTasks() {
            iso_date = date.toISOString()

            $.ajax({
                url:'api/get-tasks',
                method: 'GET',
                data: {'date':iso_date},
                success: function(data) {
                    html = ""

                    data.forEach(element => {
                        done = ""
                        btns = ""
                        if(element.done == true) {done = "style='text-decoration: line-through'"}
                        else {btns = `<button class="task-btn btn btn-success" id="btndon${element.id}">Done</button><button class="task-btn btn btn-danger" id="btndel${element.id}">Delete</button>`}
                        html += `<li><span class="task-name" ${done}>${element.name}</span>${btns}</li>`
                    });

                    $('#task-list #list').html(html)
                    btnSetup()
                },
                error: function(error) {
                    console.log('Error')
                }
            })
        }

        function btnSetup() {
            $(".task-btn").click(function() {
                btn = $(this)
                id = $(this).attr("id")
                type = id.slice(3, 6)
                id = Number(id.match(/\d+/g))
                $.ajax({
                    url:'api/task-btn',
                    method: 'GET',
                    data: {
                        'id':id, 
                        'type':type
                    },
                    success: function(data) {
                        if(type === "del") { btn.parent().remove() }
                        else {
                            btn.attr("disabled", true)
                            btn.prev().css("text-decoration", "line-through")
                            btn.next().remove()
                            btn.remove()
                        }
                    },
                    error: function(error) {
                        console.log("Error")
                    }
                })
            })
        }

        function setDaySelected() {
            curr = new Date()
            curr.setHours(12, 0, 0, 0)
            
            if(date.getTime() == curr.getTime()) {$('#day-selected').html(`Today`)}
            // 86400000 is the number of miliseconds in 24 hours
            else if(date.getTime() == (curr.getTime()-86400000)) {$('#day-selected').html(`Yesterday`)}
            else if(date.getTime() == (curr.getTime()+86400000)) {$('#day-selected').html(`Tomorrow`)}
            else {
                day = date.getDate().toString().padStart(2, '0');

                // Get current month in 3-letter shortcut
                monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                month = monthNames[date.getMonth()];

                // Get current year
                year = date.getFullYear();
                $('#day-selected').html(`${day}. ${month} ${year}`)
            }
        }
    </script>

<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div id="form-repeat">
                        <div><label>Repeat: </label></div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repeat" id="rep-d">
                            <label class="form-check-label" for="rep-d">Daily</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repeat" id="rep-w">
                            <label class="form-check-label" for="rep-d">Weekly</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repeat" id="rep-bw">
                            <label class="form-check-label" for="rep-d">Bi-weekly</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repeat" id="rep-m">
                            <label class="form-check-label" for="rep-d">Monthly</label>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button id="add-task" class="btn btn-primary">Add</button> 
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}